.container{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 20px;
}

.product{
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid var(--red);
    /*margin: 10px;*/
    /*box-shadow: 0 0 10px lightgray;*/
}

.link{
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
    cursor: pointer;
}


.productimg{
    width: 100%;
}



.productinfo{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 30px;
    grid-template-areas: 
    "a b c"
    "d e f";
}
.productname{
    grid-area: a;
}
.prices{
    grid-area: d;
}
.wlbutton{
    grid-area: c;
    text-align: right;
    cursor: pointer;
}

.wlbutton:hover{
    color: red;
}

input[type="search"]{
    padding: 10px;
    border: 2px solid var(--red);
    border-radius: 5px;
    width: 100%;
}