
.container {
    display: flex;
    text-align: center;
    width: 100%;
}


.services {
    box-sizing: border-box;
    width: 33.33%;
    padding: 30px;
    border: 2px solid var(--red);
    /*box-shadow: 0 0 10px lightgray;*/
    margin: 10px;
}
.prices{
    font-weight: bold;
    color:var(--red);
}

.link{
    display: block;
    text-align: center;
    margin: auto;
    width: 50%;
}
.serviceimg{
    width: 100%;
}